---
const { } = Astro.props;
---

<select class="select w-full">
    <option>adwaita-d</option>
    <option>adwaita-l</option>
    <option>amber-d</option>
    <option>amber-l</option>
    <option>blobs-l</option>
    <option>drool-d</option>
    <option>drool-l</option>
    <option>fold-d</option>
    <option>fold-l</option>
    <option>morphogenesis-d</option>
    <option>morphogenesis-l</option>
    <option>symbolic-d</option>
    <option>symbolic-l</option>
</select>
