---
import Layout from '../layouts/Layout.astro';
import "../styles/eurl.css";
---
<Layout>
<section id="intro" class="">

</section>

<article class="grid">

    <div class="eurl p-2 rounded-xl w-full whitespace-nowrap bg-neutral text-neutral-content">

      <span class="eurl-base"><span class="eurl-group">https://fimg.yuaner.tw</span></span>
      <span class="eurl-content">
          <span class="eurl-group hover:bg-indigo-600/30 inline">/<span class="eurl-part" data-url-ptitle="Canvas Size">300x200</span></span>
          <span class="eurl-group hover:bg-cyan-600/30">/bg/<span class="eurl-part" data-url-ptitle="Padding">2x3</span>/<span class="eurl-part" data-url-ptitle="Shadow">5</span>/<span class="eurl-part" data-url-ptitle="Radius">3</span>/<span class="eurl-part" data-url-ptitle="Color">A5D0E5</span></span>
          <span class="eurl-group hover:bg-yellow-600/30">/ph/<span class="eurl-part" data-url-ptitle="bgcolor">ff0000,128</span>/<span class="eurl-part" data-url-ptitle="fgcolor">000,255</span>/?<span class="eurl-part">text=Hello+World</span></span>
          <span class="eurl-group hover:bg-green-600/30">&<span class="eurl-part">filetype=svg</span></span>
      </span>
    </div>
    <p>ppppp</p>

</article>
</Layout>
